.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  padding: 20px 40px;
}

.listContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.listItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: calc(100% - 80px);
  min-height: 0;
  width: 100%;
  border-radius: 12px;
  margin-right: 40px;
  margin-top: auto;
  box-sizing: border-box;
}

.card {
  display: flex;
  background-color: #242528;
  border-radius: 12px;
  overflow: hidden;
}

.listItemImage {
  flex: 0 0 50%;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItemText {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  justify-content: center;
}

.listItemImage img {
  max-width: 100%;
  max-height: 100%;
}

.listItemTitle {
  margin: 0;
  padding: 16px 24px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.listItemDescriptionText {
  margin: 0;
  padding: 0 24px 16px;
  font-size: 20px;
  color: white;
}

.listItemMemoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  margin-bottom: 48px;
}

.listItemDescription {
  margin: 0;
  padding: 0 40px 0px 24px;
  font-size: 16px;
  line-height: 150%;
  color: #cecfd2;
}

.listItemButton {
  height: 36px;
  padding: 8px 12px;
  background: #236bf6;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 1000px;
  &:hover {
    opacity: 0.7;
  }
}
