.scrollX {
  width: 100%;
  min-width: 0; /* 가로 스크롤 콘텐츠가 부모 넓이 밀어내지 않게 */
  height: 100%;
  margin-bottom: 20px;
  padding-bottom: 16px; /* 스크롤바와 메모 카드 사이 여백 */
  overflow-x: auto;
  box-sizing: border-box;
}

/* 아이템 래퍼 */
.memoBox {
  display: flex;
  gap: 12px;
  box-sizing: border-box;
}

/* 개별 메모 카드 */
.memoWrapper {
  width: 170px;
  height: 160px;
  padding: 8px;
  border-radius: 12px;
  background: #e6eefe;
  flex-shrink: 0;
}

.memoSecondTitle {
  color: #236bf6;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.5px */
  letter-spacing: -0.325px;
  padding-bottom: 6px;
}

.memoContent {
  color: #18191a;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  letter-spacing: -0.375px;
}

.day {
  color: #4b4d51;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.3px;
  padding-top: 6px;
}

.scrollX::-webkit-scrollbar {
  height: 6px;
}

.scrollX::-webkit-scrollbar-track {
  margin-bottom: 20px; /* ⭐ 위 콘텐츠랑 거리 */
  background: transparent;
}

.scrollX::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}
