.footer {
  display: flex;
  height: 240px;
  padding: 30px 484px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #303134;
}

.footerTitle {
  color: #fff;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 48px */
  letter-spacing: -0.8px;
}

.footerText {
  color: #e2e3e4;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  letter-spacing: -0.3px;
}

.containerFooter {
  display: flex;
  align-items: center;
  gap: 12px;
}
